*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: 10px auto;
}
nav{
    display: flex;
    justify-content: space-between;

}
nav h2{
    color: #4E47FF;
    font-weight: 900;
}
.primary-button{
    background-color: #4E47FF;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
}